.flex-container {
  margin: 200px;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  width: auto;
  border: solid black;
}
.flex-item {
  background-color: lightgray;
  border: 1px solid gray;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
