.flex-container {
  margin: 10em auto;
  display: flex;
  flex-wrap: wrap;
  width: 40em;
  height: 40em;
  border: 1px solid black;
}
.flex-item {
  background-color: lightgray;
  border: 1px solid rgb(239, 233, 233);
  box-sizing: border-box;
  height: 2.5em;
  width: 2.5em;
  flex-grow: 0;
  flex-shrink: 0;
}
